<configuration><appSettings xmlns="undefined"><add xmlns="http://www.w3.org/1999/xhtml" key="Example" value="tuitasdfa"></add><add xmlns="http://www.w3.org/1999/xhtml" key="*todo*" value="asdf"></add><add xmlns="http://www.w3.org/1999/xhtml" key="asdf" value="*also todo*"></add></appSettings></configuration>