@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<p>
    Current Example app setting values are:
    <ul>
        @foreach (var setting in ConfigurationManager.AppSettings.AllKeys)
        {
            <li><label>@setting</label> <span>@ConfigurationManager.AppSettings[setting]</span></li>
        }
    </ul>
</p>
