
<textarea id="config"></textarea>
<button id="go">save</button>
@section scripts
{
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(function () {
            $("#go").on("click", function () {
                $.post('/api/applications/example_app/envs/test', $("#config").val());
            });
        })
    </script>
}
